ENVIRONMENT=test
BASE_URL=https://coloplast-prohealth-test.bbsystemstest.com
API_BASE_URL=https://coloplast-prohealth-test.bbsystemstest.com
TEST_EMAIL=your.account@organisation.nhs.uk
TEST_PASSWORD=change-me
